<header class="section fullimg">
    <div class="container">
        <h1>PadProof</h1>
        <h2>Show, Share and Sell photos to your clients<br /> </h2> <h3>The Worlds Most Powerful Photo Sales App</h3>
        <div class="row section marketing">
            <div class="col six">
                <h2>The app you’ve been waiting for…</h2>
                <h4>Book <strong>more</strong> clients <br />
                    Sell <strong>more</strong> products <br />
                    Get <strong>more</strong> referrals<br />
                    <span>All custom branded to your studio.</span>
                </h4>
            </div>

            <div class="col six">
                <img src="assets/ipad.png" />
            </div>
        </div>
    </div>
</header>

<div class="section row features">
    <div class="container">
        <div class="col four">
            <h4>Sell more products</h4>
            <p>Customizable iPad app for your clients.  <b>Set your own prices on products</b> for your clients.  Choose from <b>over 30 major photo labs</b> with auto fulfillment.</p>
        </div>
        <div class="col four">
            <h4>Share Your Brand</h4>
            <p>Create an army of clients talking about your work with <b>one tap viral sharing of your brand</b> to Facebook and Twitter.</p>
        </div>
        <div class="col four">
              <h4>Simplify Your Workflow</h4>
            <p>No more DVDS.  Easy <b>digital downloads</b> of images for your clients and secure cloud backup for you.</p>
        </div>
    </div>
</div>

<div class="section row signup">
    <div class="container">
        <div class="highlight">
            <div class="col nine">
                <h2>PadProof is in a closed beta...</h2>
                <h3>However, early adopters can signup today.</h3>

                <p>Photographers that would like to use the PadProof service right away can sign up for only $199 a year. This exclusive Pro Plan includes <b>unlimited</b> events, <b>unlimited space</b>, automated print fulfillment and digital downloads.</p>
            </div>

            <div class="col three cta">
                <a rel="leanModal" name="earlyaccess" href="#early" class="cta-link">Sign Up For Early Access at <b>$199/yr</b></a>
                <a rel="leanModal" name="waitlist" href="#wait">Or join the waitlist.</a>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="section row comingsoon">
    <div class="container">
        <div class="col six">
            <a href="https://www.facebook.com/PadProof" class="facebook-link">PadProof on Facebook</a>
            <a href="https://twitter.com/padproof" class="twitter-link">PadProof on Twitter</a>
        </div>

        <div class="col six">
            <ul>
                <li><a href="https://getsatisfaction.com/padproof">Support</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="https://itunes.apple.com/us/app/padproof/id431580708?mt=8">App Store</a></li>
                <li><a href="https://app.padproof.com/">Log In</a></li>
            </ul>
        </div>
    </div>
</div>

<footer class="section row">
    <div class="container">
        <div class="col half">
        <p>&copy; PadProof LLC 2010 - 2013. All rights reserved.</p>
        </div>

        <div class="col half">
        </div>
    </div>
</footer>

<%= render :partial => "wait" %>
<%= render :partial => "transaction" %>
