<header class="section fullimg">
    <div class="container">
        <h1>PadProof</h1>
        <h2>Show, Share and Sell photos to your clients<br /> </h2> <h3>The Worlds Most Powerful iPad Images Sales App</h3>
        <div class="row section marketing">
            <div class="col six">
                <h2>The app you’ve been waiting for…</h2>
                <h4>Lightning fast print sales. <br />
                    More refferals. <br />
                    Direct deposit profits. <br />
                    <span>Custom branded for your studio.</span>
                </h4>
            </div>

            <div class="col six">
                <%= image_tag "/assets/ipad.png" %>
            </div>
        </div>
    </div>
</header>

<div class="section row features">
    <div class="container">
        <div class="col four">
            <h4>Sell more products</h4>
            <p>iPad, iPhone and Android custom apps for your clients. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
        <div class="col four">
            <h4>Share Your Brand</h4>
            <p>Viral sharing of your brand on Facebook, Twitter and Pinterest. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col four">
              <h4>Simplify Your Workflow</h4>
            <p>No More DVDS.  Easy Digital Downloads of Images. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
    </div>
</div>

<div class="section row signup">
    <div class="container">
        <div class="highlight">
            <div class="col nine">
                <h2>PadProof is in a closed beta...</h2>
                <h3>However, early adopters can signup today.</h3>

                <p>Photographers that would like to use the PadProof service right away can sign up for only $199 a year. This exclusive Pro Plan includes <b>unlimited</b> events, automated print fufillment and digital downloads. <a rel="leanModal" name="learnmore" href="#learn"><em>Learn more</em></a></p>
            </div>

            <div class="col three cta">
                <a rel="leanModal" name="earlyaccess" href="#early" class="cta-link">Sign Up For Early Access at <b>$199/yr</b></a>
                <a rel="leanModal" name="waitlist" href="#wait">Or join the waitlist.</a>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="section row comingsoon">
    <div class="container">
        <div class="col three">
            <a href="#" class="facebook-link">PadProof on Facebook</a>
        </div>
        <div class="col three">
            <a href="#" class="twitter-link">PadProof on Twitter</a>
        </div>

        <div class="col six">
            <ul>
                <li><a href="https://getsatisfaction.com/padproof">Support</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="https://itunes.apple.com/us/app/padproof/id431580708?mt=8">App Store</a></li>
                <li><a href="https://app.padproof.com/">Log In</a></li>
            </ul>
        </div>
    </div>
</div>


<footer class="section row">
    <div class="container">
        <div class="col half">
        <p>&copy; PadProof LLC 2010 - 2013. All rights reserved.</p>
        </div>

        <div class="col half">
        <!-- <p>&copy; PadProof LLC 2010 - 2013. All rights reserved.</p> -->
        </div>


    </div>
</footer>

<div id="learn" class="modal">
    <p>Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
</div>
<div id="wait" class="modal">
    Signup form & verbiage
</div>
<div id="early" class="modal">
    <h2>One-time Transaction</h2>
    <h2>Dollar Amount: $199</h2>
    <div id="recurly-transaction">
    </div>
</div>

